<div class="container">
    <div>
        <p class="title-page">Sign Up</p>
        <form [formGroup]="formBuilder" (ngSubmit)="submit()" class="container-form">
            <mat-form-field class="field-full-width">
                <mat-label>Email</mat-label>
                <input class="inp-field" matInput placeholder="Enter your email" formControlName="email"  required>
                <div class="error-msg" *ngIf="getField('email')?.invalid">
                    <mat-error>{{getErrorMessage('email')}}</mat-error>
                </div>
            </mat-form-field>

            <mat-form-field class="field-full-width">
                <mat-label>Username</mat-label>
                <input class="inp-field" matInput placeholder="Enter your username" formControlName="username"  required>
                <div class="error-msg" *ngIf="getField('username')?.invalid">
                    <mat-error>{{getErrorMessage('username')}}</mat-error>
                </div>
            </mat-form-field>

            <mat-form-field class="field-full-width">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Enter your Password" type="password">
                <div class="error-msg" *ngIf="getField('password')?.invalid">
                    <mat-error>{{getErrorMessage('password')}}</mat-error>
                </div>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>

        <div class="to-register">
            <p>Have an account?</p>
            <a class="list-link" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
        </div>
    </div>
</div>
